body {
	background: url(../images/city.jpg);	
}
.form-container {
	position: relative;
	margin: auto;
	top:100px;   
	border: 1px solid #dfe3f5;
   background: #e6e9f7;
   background: -webkit-gradient(linear, left top, left bottom, from(#d1d4ff), to(#e6e9f7));
   background: -webkit-linear-gradient(top, #d1d4ff, #e6e9f7);
   background: -moz-linear-gradient(top, #d1d4ff, #e6e9f7);
   background: -ms-linear-gradient(top, #d1d4ff, #e6e9f7);
   background: -o-linear-gradient(top, #d1d4ff, #e6e9f7);
   background-image: -ms-linear-gradient(top, #d1d4ff 0%, #e6e9f7 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field {
   border: 1px solid #8fa0e3;
   background: #e8e8fa;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #a2a3c7;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #ffffff;
   color: #284070;
   }
.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #000000;
   text-shadow: #fdf2e4 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #e84848;
   background: #bd0f0f;
   background: -webkit-gradient(linear, left top, left bottom, from(#ba1212), to(#bd0f0f));
   background: -webkit-linear-gradient(top, #ba1212, #bd0f0f);
   background: -moz-linear-gradient(top, #ba1212, #bd0f0f);
   background: -ms-linear-gradient(top, #ba1212, #bd0f0f);
   background: -o-linear-gradient(top, #ba1212, #bd0f0f);
   background-image: -ms-linear-gradient(top, #ba1212 0%, #bd0f0f 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ddebe3 0 1px 0;
   color: #f2e6e7;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #731515;
   text-shadow: #520c0c 0 1px 0;
   background: #a33636;
   background: -webkit-gradient(linear, left top, left bottom, from(#bf5a5a), to(#a33636));
   background: -webkit-linear-gradient(top, #bf5a5a, #a33636);
   background: -moz-linear-gradient(top, #bf5a5a, #a33636);
   background: -ms-linear-gradient(top, #bf5a5a, #a33636);
   background: -o-linear-gradient(top, #bf5a5a, #a33636);
   background-image: -ms-linear-gradient(top, #bf5a5a 0%, #a33636 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #520c0c 0 1px 0;
   border: 1px solid #731515;
   background: #bf5a5a;
   background: -webkit-gradient(linear, left top, left bottom, from(#a33636), to(#a33636));
   background: -webkit-linear-gradient(top, #a33636, #bf5a5a);
   background: -moz-linear-gradient(top, #a33636, #bf5a5a);
   background: -ms-linear-gradient(top, #a33636, #bf5a5a);
   background: -o-linear-gradient(top, #a33636, #bf5a5a);
   background-image: -ms-linear-gradient(top, #a33636 0%, #bf5a5a 100%);
   color: #fff;
   }
